@font-face {
   font-family: 'aileron.regular';
   font-display: swap;
   src: url('file:///C:/Users/bruno/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-05-19_030658/fonts/aileron.regular/font.ttf');
}
